@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans');
    src: url(../font/IBM_Plex_Sans/static/IBMPlexSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans');
    src: url(../font/IBM_Plex_Sans/static/IBMPlexSans-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans');
    src: url(../font/IBM_Plex_Sans/static/IBMPlexSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans Condensed';
    src: local('IBM Plex Sans Condensed');
    src: url(../font/IBMPlexSansCondensed-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: #FDFDFD;
    font-family: 'IBM Plex Sans';
}

.d-flex {
    display: flex;
}

.header {
    display: flex;
    background-color: #FDFDFD;
    font-family: 'IBM Plex Sans';
    padding: 10px 60px 10px 60px;
    align-items: center;
    justify-content: space-between;
}

.header :last-child {
    align-items: center;
}

.dropbtn {
    background-color: inherit;
    border: inherit;
    color: #747F8C;
    padding: 15px;
    cursor: pointer;
    align-items: center;
    width: 244px;
    justify-content: center;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: #172A3F1A;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8%;
    padding-bottom: 10px;
    z-index: 1;
}

.ok-img {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    width: 24px;
    height: 24px;
    display: inline-flex;
}

.Нур-Султан {
    display: flex;
    align-items: center;
}

.Нур-Султан img {
    padding-left: 10px;
    padding-right: 0;
}

.dropdown-content :nth-child(2) a {
    padding-left: 10px;
}

.city-option {
    display: flex;
    align-items: center;
}

.Select-city {
    width: 80%;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 0px;
}

.Select-city p {
    color: #747F8C;
    font-weight: 400;
    font-size: 14px;
    padding: 8px 0 8px 0;
}

.Select-city img {
    justify-content: end;
}

.dropdown-content a {
    color: #455565;
    padding: 12px 0;
    text-decoration: none;
    display: block;
    width: 204px;
    font-weight: 400;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 10px;
}

.dropdown-content hr {
    border-color: #747F8C;
    opacity: 10%;
    margin-left: 40px;
    margin-right: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color: #FF7893;
}

.header-contact a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
    cursor: pointer;
}

.header-contact>a:first-child {
    font-weight: 500;
    color: #172A3F;
}

.header-contact>a:nth-child(2) {
    color: #455565;
    font-weight: 400;
}

.language {
    padding: 0 30px 0 30px;
    font-weight: 500;
    position: relative;
    color: #172A3F;
    font-size: 18px;
    z-index: 1;
}

.choose-language {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: #172A3F1A;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15%;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 60px;
}

.language:hover .choose-language {
    display: block;
}

.choose-language a {
    color: black;
}

.choose-language a:hover {
    color: #FF7893;
}

.nav-button-block {
    display: none;
}

.nav-button-block span {
    width: 20px;
    border: 1.5px solid #F43F52;
    display: block;
    margin-bottom: 8px;
}

.nav-button-block span:last-child {
    width: 12px;
    margin-bottom: 0;
}

.nav-mobile {
    pointer-events: none;
    position: fixed;
    transition: 0.5s ease;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: #172a3f60;
    min-height: 100vh;
    width: 100%;
}

.nav-mobile-inner__content {
    width: 90%;
    background-color: #fff;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    min-height: 100vh;
    transform: translateX(-100%);
    transition: 0.5s ease;
}

.city-mobile-cover {
    pointer-events: none;
    position: absolute;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s ease;
}



.close_and_back {
    padding: 10px 5px 20px 5px;
    justify-content: space-between;
}

.city-mobile-cover ul {
    list-style: none;
}

.city-mobile-cover ul li {
    padding: 10px 0;
}

.city-mobile-cover ul li a {
    text-decoration: none;
    color: #455565;
    font-size: 16px;

}

.city-mobile-cover ul li hr {
    opacity: 15%;
    margin: 0;
    margin: 20px 10px 0 0;
}

.nav-mobile-inner__content__header {
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.city-mobile-button {
    color: #747F8C;
    font-size: 14px;
}

.city-mobile-button span:nth-child(2) {
    color: #00AAE9;
    padding-left: 10px;
}

.mobile-nav {}

.menu-li_mobile {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.menu-li_mobile li {
    padding: 15px 0 0 0;
}

.menu-li_mobile li hr {
    margin: 15px 0 0 0;
    border: 1px solid #172a3f0a;
}

.menu-li_mobile li a {
    text-decoration: none;
    color: #455565;
    marker-start: none;
    font-size: 18px;
    font-weight: 400;

}

.choose-language-mobile {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}

.choose-language-mobile ul {

    list-style: none;
    justify-content: center;
    padding-left: 0;
    /* bottom: 15%; */


}

.choose-language-mobile ul li a {
    text-decoration: none;
    color: #455565;
    font-size: 12px;
    padding-left: 10px;
}

.phone-number-mobile {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
}

.phone-number-mobile ul {
    list-style: none;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.phone-number-mobile ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-right: 10px;
}

.email-mobile {
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
}

.email-mobile ul {
    list-style: none;
    padding: 0;
}

.email-mobile ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    opacity: 50%;
}


/* 


**********          **********
***********        ***********
*****  *****      *****  *****
*****   *****    *****   *****
*****    *****  *****    *****
*****     **********     *****
*****      ********      *****
*****                    *****
*****                    *****
*****                    *****
*****                    *****
*****                    *****



*/


/* Menu */
.menu-hr {
    background-color: #747F8C;
    opacity: 10%;
    height: 1px;
    border: 0;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 90px 10px 55px;
    text-align: center;
    align-items: center;
}

.menu ul {
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: inherit;
}

.menu li {
    list-style: none;
    padding-right: 40px;
    font-family: 'IBM Plex Sans';
    font-size: 20px;
    font-weight: 400;
    color: #172A3F;
    cursor: pointer;
}

.menu img {
    padding-top: 10px;
    cursor: pointer;
}

/* Slider */

.slider {
    background-image: url(../img/Illustration.jpg);
    height: 734px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    position: relative;
}

.slider_text {
    padding-left: 60px;
    width: 544px;
}

.slider_text h2 {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-size: 62px;
    margin: 0;
    padding-bottom: 40px;
}

.slider_text p {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 22px;
    margin: 0;
}

.slider_text div {
    margin-top: 70px;
}

.slider .slider_text div> :nth-child(1) {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    background-color: #FF7893;
    padding: 15px 60px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.slider .slider_text div> :nth-child(2) {
    color: #172A3F;
    background-color: inherit;
    border: 0px;
    padding: 15px 30px;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 22px;
    cursor: pointer;
}

.pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.pagination-div {
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;
}

.pagination-div p {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 16px;
    color: #172A3F;
    opacity: 70%;
}

.pagination-div div a {
    padding-right: 5px;
}

.pagination-div div img {
    padding-bottom: 15px;
}

.slider_hr {
    background-color: #747F8C;
    opacity: 20%;
    height: 1px;
    border: 0;
    margin: 0;
}

/* services */

.services {
    text-align: center;
    align-items: center;
}

.services_div>div:first-child {
    margin-top: 20px;
}

.services_types-div {
    justify-content: center;
}

.services_div>:nth-child(1) {
    padding: 60px 0;
}

.services_div>div>h3 {
    font-family: 'IBM Plex Sans';
    margin: 0;
}

.services_div>div>h3:first-child {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
}

.services_div>div>h3:nth-child(2) {
    font-weight: 600;
    font-size: 52px;
    line-height: 60px;
}

.services_types {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 50px;
    margin-top: 40px;
}

.services_types div {
    background-image: url(../img/Plate\ \(2\).jpg);
    margin: 0 30px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: start;
   max-width: 410px;
}

.services_types div>img {
    position: absolute;
    right: 0;
    top: -25%
}

.services_types div h3 {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    line-height: 38px;
    padding-top: 30px;
    padding-left: 10px;
}

.services_types div hr {
    background-color: #FF7893;
    height: 4px;
    width: 40px;
    border: 0;
    margin-left: 10px;
}

.services_types div p {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 18px;
    color: #172A3F;
    opacity: 50%;
    padding-left: 10px;
    max-width: 306px;
}

.services_types div a {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.services_div input {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 22px;
    background-color: inherit;
    border: 1px solid #172a3f4d;
    border-radius: 100px;
    padding: 15px 120px;
    margin-top: 30px;
    cursor: pointer;
}

.services_div input:hover {
    color: #FF7893;
}

/* Slider*/

.genetic_tests_h4 {
    text-align: center;
    font-family: 'IBM Plex Sans';
    color: black;
    margin-top: 100px;
}

.genetic_tests_h4>:nth-child(1) {
    font-weight: 400;
    font-size: 32px;
    margin: 0;
}

.genetic_tests_h4>:nth-child(2) {
    font-weight: 600;
    font-size: 52px;
    margin: 0;
}

.genetic_tests_h4 h4 a img {
    margin-bottom: 12px;

}

.genetic_tests-slider {
    width: 100%;
    padding: 50px 0 0 60px;
    position: relative;
    overflow: hidden;
    height: 450px;
    box-sizing: border-box;
}

.genetic_tests-absolute {
    position: absolute;
    font-family: 'IBM Plex Sans';
    transition: 1s;
}

.genetic-slider {
    padding-right: 50px;
    position: relative;
}

.genetic-slider>img {
    display: block;
}

.genetic-slider h5 {
    position: absolute;
    top: 35%;
    left: 20px;
    color: #ffff;
    font-weight: 400;
    font-size: 46px;
}

.genetic-slider div {
    position: relative;
    width: 428px;
    height: 114px;
    margin: 0;
}

.genetic-slider div p {
    margin: 0;
    padding-left: 30px;
}

.genetic-slider div p:nth-child(1) {
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
}

.genetic-slider div p:nth-child(2) {
    font-weight: 500;
    font-size: 26px;
    padding-top: 5px;
}

.genetic-slider div a img {
    position: absolute;
    right: 40px;
    bottom: 30%;
    border: 1px;
    border-radius: 50%;
    padding: 15px;
}

.genetic-slider:nth-child(3n+1) div a img {
    filter: drop-shadow(1px 1px 12px rgba(244, 63, 82, 0.1));
    background-color: #FFEAED;
}

.genetic-slider:nth-child(3n+2) div a img {
    filter: drop-shadow(1px 1px 12px rgba(45, 198, 255, 0.1));
    background-color: rgba(220, 249, 255, 1);
}

.genetic-slider:nth-child(3) div a img {
    filter: drop-shadow(1px 1px 12px rgb(241, 239, 239));
    background-color: #fdfdfd;
}

/* .genetic-slider:nth-child(4) div a img {
    filter: drop-shadow(1px 1px 12px rgba(45, 198, 255, 0.1));
    background-color: rgba(220, 249, 255, 1);
} */

.genetic-slider:nth-child(3n+1) div {
    background-color: #FFE9EC;

}

.genetic-slider:nth-child(3n+2) div {
    background-color: #D8F5FC;
}

.genetic-slider:nth-child(3) div {
    background-color: #F6F6F6;
}

/* .genetic-slider:nth-child(4) div {
    background-color: #D8F5FC;
} */

.switching {
    justify-content: space-between;
    max-width: 1420px;
    margin: 0 auto;
    margin-top: 35px;
    position: relative;
}

.switching input {
    background-color: inherit;
    font-family: 'IBM Plex Sans';
    border-radius: 100px;
    border: 1px solid #172a3f4d;
    padding: 15px 80px;
    font-weight: 400;
    font-size: 22px;
    cursor: pointer;
}

.switching input:hover {
    color: #FF7893;
}

.switching ul {
    padding: 0;
    display: flex;
    list-style: none;
}

.switching ul li {
    width: 30px;
}

.switching ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
}

.switching ul li::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #2DC6FF;
    border-radius: 50%;
}

.switching-active::before {
    border: 1px solid #172a3f4d;
    background-color: #455565 !important;
    margin-left: 10px;
    margin-right: 10px;
}


.switching-active::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #172a3f4d;
    padding: 20px;
}

/*  * 
******* ***** 
*******     ***
*******      ***
*******       ***
*******       ***
*******       ***
*******       ***
*******      ***
*******     *** 
******* *****

*/
.doctors {
    margin-top: 100px;
    position: relative;

}

.doctors_h {
    text-align: center;
}

.doctors_h h4:nth-child(1) {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.doctors_h h4:nth-child(2) {
    font-weight: 500;
    font-size: 52px;
    margin: 0;
}

.doctors_carts {
    max-width: 1420px;
    position: relative;
    margin: auto;
    min-height: 458px;
}

.doctors_carts_inner {
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.doctors_carts_inner>div {
    max-width: 352px;
    padding: 0 30px;
}

.doctors_carts_inner div p:nth-child(2) {
    font-weight: 400;
    font-size: 28px;
    margin: 0;
    padding: 20px 0 10px 0;
}

.doctors_carts_inner div p:nth-child(3) {
    color: #747F8C;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px 0;
}

.doctors_carts_inner div div hr {
    background-color: #2DC6FF;
    width: 32px;
    border: none;
    height: 1px;
    margin: 0;
}

.doctors_carts_inner div div {
    align-items: center;
}

.doctors_carts_inner div div input {
    background-color: inherit;
    border: none;
    color: #2DC6FF;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}

.previous-next {
    width: 1420px;
    margin: 0 auto;
}

.previous-next>a img {
    position: absolute;
}

.previous-next>a:nth-child(1) img {
    left: 3%;
    top: 50%;
    transform: translate(-25%, -50%);
}

.previous-next>a:nth-child(2) img {
    right: 3%;
    top: 50%;
    transform: translate(25%, -50%);
}

.doctors_batton input {
    background-color: inherit;
    font-weight: 400;
    font-size: 22px;
    border: 1px solid #172a3f4d;
    border-radius: 100px;
    padding: 13px 120px;
    cursor: pointer;
}

.doctors_batton input:hover {
    color: #FF7893;
}

.doctors div:nth-last-child() {
    text-align: center;
}

.doctors_batton {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

/* Revievs */

.revievs {
    padding: 150px 0 80px 0;
    background-color: #172a3f07;
    font-family: 'IBM Plex Sans';
    align-items: center;
    position: relative;
    width: 100%;
}

.revievs>hr {
    position: absolute;
    width: 100%;
    margin: 0;
}

.revievs_h {
    position: static;
}

.revievs_h h4 {
    padding-left: 50px;
    font-size: 42px;
    font-weight: 400;
    width: 352px;
    padding-right: 20px;
}

.revievs_slider {
    position: relative;
    width: 1250px;
    overflow-x: clip;
    /* overflow-y: hidden; */
}

.revievs_slider-absolute {
    position: absolute;
    transform: translateY(-69px);
}

.revievs_slider-absolute>div {
    padding: 0 20px;
    width: 544px;
    height: 244px;
}

.revievs_slider-absolute div div p {
    color: #455565;
    font-size: 14px;
}

.revievs_slider-absolute>div>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.revievs_slider-absolute div input {
    background-color: inherit;
    border: none;
    color: #747F8C;
    cursor: pointer;
}

.revievs_slider-absolute div ul li {
    padding: 0 0 20px 0;
}

.revievs_slider-ul_active {
    padding: 0 0 20px 0;
}

.revievs_slider-ul_active li {
    list-style: none;
    position: relative;
}


.revievs_slider-ul_active li::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;

}

.revievs_slider-ul_active li::before {
    transform: translate(50%, 50%);
    border: 1px solid #2DC6FF;
    background-color: #2DC6FF !important;
}

.revievs_slider-ul_active li::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #2DC6FF;
    padding: 5px;
    /* left: 3%; */
}


.revievs_slider-non-active {
    color: #172A3F;
    opacity: 50%;
}


.revievs_buttons {
    justify-content: space-between;
    max-width: 1520px;
    margin: 0 auto;
    width: 100%;
}

.revievs_buttons input {
    background-color: inherit;
    border-radius: 100px;
    border: 1px solid #172a3f4d;
    padding: 5px 90px;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    cursor: pointer;
}

.revievs_buttons input:hover {
    color: #FF7893;
}

.revievs_buttons a {
    text-decoration: none;
    color: #00AAE9;
    padding-right: 50px;
    font-size: 18px;
}

.revievs_buttons div {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.revievs_buttons div div:nth-child(1) img {
    padding-right: 10px;
}

/* Video */

.video-section {
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.video-section video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.menu_footer-with {
    max-width: 1420px;
    margin: 0 auto;
}

.menu_footer {
    display: flex;
    padding: 40px 10px 40px 10px;
    position: relative;
    font-family: 'IBM Plex Sans';
}

.menu_footer nav ul li a {
    font-size: 26px;
}

.menu_footer ul {
    padding: 0;
    display: flex;
    width: 100%;
}

.menu_footer li a {
    text-decoration: none;
    color: inherit;
}

.menu_footer ul li a:hover {
    color: #FF7893;
}

.menu_footer li {
    list-style: none;
    padding-right: 50px;
    font-family: 'IBM Plex Sans';
    font-size: 20px;
    font-weight: 400;
    color: #455565;
    cursor: pointer;
}

.menu_footer .push-right {
    padding-right: 0;
    margin-left: auto;
}

.footer hr {
    margin: 0;
    opacity: 50%;

}

.footer {
    margin-bottom: 40px;
}

.grit-colomn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 70px 0;
}

.grit-colomn div:first-child {
    padding: 0;
}

.grit-colomn div {
    width: 300px;
    padding-left: 60px;
}

.grit-colomn div:nth-child(1) h5 {
    font-size: 42px;
    font-weight: 400;
    line-height: 35px;
    margin: 30px 0;
    font-family: "IBM Plex Sans Condensed";
}

.grit-colomn div h5 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.grit-colomn div p {
    margin: 25px 0;
    font-size: 18px;
    color: #455565;
}

.grit-colomn div input {
    background-color: inherit;
    border: none;
    color: #00AAE9;
    font-size: 14px;
}

.media_botomn {
    justify-content: space-between;
    align-items: center;
}

.media_botomn>p {
    margin: 0;
    font-size: 14px;
    color: #455565;
}

.media_botomn div {
    align-items: center;
    font-size: 16px;
    color: #455565;
}

.media_botomn div:nth-child(2) img {
    width: 32px;
    height: 32px;
    padding-right: 10px;
}










@media (max-width:1100px) {

    .header {
        padding: 15px 15px;
    }

    .logo {
        width: 128px;
    }

    .logo img {
        width: 100%;
    }

    .dropdown {
        display: none;
    }

    .header-contact a:nth-child(1) {
        font-size: 16px;

    }

    .header-contact a:nth-child(2) {
        display: none;
    }

    .language {
        display: none;
    }

    .nav-button-block {
        display: block;
    }

    .menu {
        display: none;
    }

    .nav-mobile__active {
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
    }

    .city-mobile-cover_active {
        transform: translateX(0);
        pointer-events: auto;
    }

    .nav-mobile-inner__content-active {
        transform: translateX(0);
    }

    .slider_text {
        padding: 0 10px;
    }

    .slider_text input {
        display: block;
        margin: auto;
    }

    .slider_text h2 {
        font-size: 32px;
        line-height: 36px;
        text-align: center;
    }

    .slider_text p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    .services_div>div>h3:first-child {
        font-size: 20px;
        line-height: 24px;
    }

    .services_div>div>h3:nth-child(2) {
        font-size: 28px;
        line-height: 32px;
    }

    .services_types {
        margin: 0 auto;
    }

    .services_types div {
        height: 190px;
        margin: 40px 0;
        background-image: url(..//img/Plate03.jpg);
        background-position: right;
    }

    .services_types div>img {
        width: 56px;
        height: 56px;
        top: -10%;
        right: 5px;
    }

    .services_types div h3 {
        font-size: 25px;
        line-height: 28px;
        width: 296px;
    }

    .services_types div p {
        font-size: 16px;
        width: 296px;
    }

    .services_types div a img {
        width: 18px;
        height: 18px;
    }

    .genetic_tests_h4>:nth-child(1) {
        font-size: 20px;
        line-height: 24px;
    }

    .genetic_tests_h4>:nth-child(2) {
        font-size: 28px;
        line-height: 32px;
    }

    .genetic_tests_h4 a {
        display: none;
    }

    .genetic_tests-slider {
        height: 270px;
    }

    .genetic-slider {
        height: 264px;
    }

    .genetic-slider>img {
        height: 184px;
        width: 310px;
    }

    .genetic-slider h5 {
        left: 15px;
        top: 30%;
        font-size: 26px;
    }

    .genetic-slider div {
        width: 310px;
    }

    .genetic-slider div p {
        padding-left: 15px;
    }

    .genetic-slider div p:nth-child(1) {
        font-size: 12px;
    }

    .genetic-slider div p:nth-child(2) {
        font-size: 18px;
    }

    .genetic-slider div a img {
        right: 20px;
        bottom: 48%;
        padding: 10px;
    }

    .services_types-div {
        width: 100%;
    }

    .services_types {
        grid-template-columns: 1fr;
    }

    .genetic_tests-slider {
        padding: 20px 0 0 10px;
    }

    .switching {
        flex-direction: column-reverse;
        margin-top: 10px;
    }

    .switching input {
        /* width: 325px; */
        font-size: 14px;
        padding: 10px 50px;
        margin-left: 15px;
        display: block;
        max-width: 300px;
        margin: auto;
    }

    .switching>div {
        padding-bottom: 10px;
    }

    .switching ul {
        padding-bottom: 20px;
        padding-left: 15px;
    }

    .switching ul li {
        width: 20px;
    }

    .switching ul li::before {
        width: 4px;
        height: 4px;
    }

    .switching-active::before {
        margin-left: 5px;
        margin-right: 5px;
    }

    .switching-active::after {
        width: 5px;
        height: 4px;
        padding: 15px;
    }

    .switching div a:nth-child(1) {
        position: absolute;
        right: 50px;
        top: 10%;
    }

    .switching div a:nth-child(2) {
        position: absolute;
        right: 10px;
        top: 10%;
    }

    .switching div a img {
        width: 32px;
        height: 32px;
    }

    .switching ul li:nth-child(5) {
        display: none;
    }

    .doctors {
        margin: 30px 0;
    }

    .doctors_h h4:nth-child(1) {
        font-size: 20px;
    }

    .doctors_h h4:nth-child(2) {
        font-size: 28px;
        padding-bottom: 20px;
    }

    .doctors_carts_inner div {
        padding: 0 20px;
    }

    .doctors_carts_inner div img {
        height: 224px;
    }

    .doctors_carts_inner div p:nth-child(2) {
        font-size: 22px;
    }

    .doctors_carts_inner div p:nth-child(3) {
        font-size: 16px;
    }

    .doctors_carts_inner div div input {
        font-size: 16px;
    }

    .previous-next>a img {
        width: 46px;
        height: 46px;
    }

    .previous-next>a:nth-child(1) img {
        top: 42%;
        left: 2%;
    }

    .previous-next>a:nth-child(2) img {
        top: 42%;
        right: 0%;
    }

    .media_botomn-div {
        display: flex;
        justify-content: center;
    }

    .grit-colomn {
        grid-template-columns: 1fr;
        margin: 0 auto;
        max-width: 300px;
    }

    .grit-colomn div {
        padding: 20px 0;
    }

    .grit-colomn div:first-child {
        padding-top: 20px;
    }

    .media_botomn {
        flex-direction: column-reverse;
    }
}


@media (max-width: 798px) {


    .revievs>hr {
        top: 21%;
    }

    .revievs_slider {
        width: 100vw;
        min-width: 300px !important;
        /* width: 405px; */
        overflow-x: clip;
    }

    .revievs_slider-absolute {
        padding-top: 60px;
    }

    .revievs_h h4 {
        font-size: 24px;
        line-height: 32px;
        padding-left: 15px;
        width: auto;
        text-align: center;
        padding-top: 38px;
    }

    .revievs {
        padding: 0;
        position: relative;
        height: 504px;
    }

    .revievs_section {
        display: block;
    }

    .revievs>hr {
        top: 32%;
    }

    .revievs_slider-absolute>div {
        width: 100%;
        min-width: 300px !important;
    }

    .revievs_buttons {
        position: absolute;
        bottom: 0;
        flex-direction: column-reverse;
    }

    .revievs_slider-ul_active {
        padding: 0 0 5px 0;
        margin-bottom: 0;
    }

    .revievs_slider-non-active ul:nth-child(2) {
        margin-bottom: 0;
        width: 30px;
        padding-left: 20px;
    }

    .revievs_slider-non-active ul:nth-child(2) li {
        padding-bottom: 5px;
    }

    .revievs_slider-absolute>div>p {
        margin: 0;
        font-size: 16px;
    }

    .revievs_slider-absolute>div {
        padding: 0 15px;
    }

    .revievs_buttons input {
        font-size: 14px;
        margin: 20px;
    }

    .revievs_buttons div {
        justify-content: space-between;
        padding: 0 20px;
    }

    .revievs_buttons div div img {
        width: 36px;
        height: 36px;
    }

    .menu_footer ul {
        flex-wrap: wrap;
        max-width: 750px;
        list-style: disc inside;
        gap: 10px 0px;

    }

    .menu_footer ul li a {
        width: 50%;
        font-size: 18px;

    }

    .menu_footer ul li {
        max-width: 50%;
        min-width: 210px;

    }

    .menu_footer ul li {
        padding-right: 0px;
    }

    .push-right {
        padding-right: 0;
        margin-left: 0 !important;
        font-size: 18px !important;
    }
}

@media (max-width: 452px) {
    .header-contact a:nth-child(1) {
        font-size: 12px;
    }

    .slider {
        height: 360px;
    }

    .slider_text div {
        margin-top: 15px;
    }

    .slider_text div> :nth-child(1) {
        font-size: 16px !important;
    }

    .slider_text div> :nth-child(2) {
        font-size: 16px !important;
    }

    .services_types div {
        max-width: 306px;
    }

    .services_div>div:nth-child(1) {
        padding: 30px 0;
    }

    .services_div>input {
        padding: 10px 0;
        font-size: 14px;
        width: 100%;
        margin: 0 0 0 10px;
        max-width: 300px;
    }

    .genetic-slider {
        min-width: 310px !important;
    }

    .pagination-div {
        padding: 0;
    }

    .pagination-div p {
        font-size: 12px;
        padding-left: 15px;
    }

    .pagination-div div a img {
        width: 36px;
        height: 36px;
    }

    .genetic-slider {
        padding-right: 20px;
    }

    .switching input {
        margin-left: 15px;
        display: flex;
        width: 100%;
    }

    .previous-next>a:nth-child(1) img {
        left: 5%;
    }

    .previous-next>a:nth-child(2) img {
        right: 4%;
    }

    .doctors_batton input {
        padding: 13px 100px;
        padding-top: 10px;
        font-size: 14px;
    }

    .revievs>hr {
        top: 38.5%;
    }

    .revievs_slider-absolute>div {
        width: 100%;
        min-width: 300px;
    }

    .revievs_buttons input {
        margin: 10px;
    }

    .revievs_buttons div {
        justify-content: space-between;
        padding: 0 10px;
    }

    .revievs_buttons div div {
        padding: 0;
    }

    .menu_footer ul li {
        max-width: 50%;
        min-width: 150px;
    }

    .menu_footer ul {
        gap: 10px 0px;
    }

    .push-right {
        margin-left: 50% !important;
    }
}